<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    
    <style>
        a:link, a:visited {
          background-color: rgb(163, 67, 150);
          color: black;
          border: 2px solid rgb(224, 17, 52);
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }
        
        a:hover, a:active {
          background-color: rgb(218, 18, 18);
          color: rgb(156, 68, 130);
        }
        </style>
    
    <div class="header">
        <img src="monash.jpg" width="200" height="200" />
        <h1> Welcome to FIT2095 Week 6 lab</h1>
        <p>New patient Form</p>
    </div>
    <div class="content">
        <div>
            <a href="/">Home</a>
            <a href="/adddoctor">Add Doctor</a>
            <a href="/addpatient">Add patient</a>
            <a href="/listdoctor">List Doctors</a>
            <a href="/listpatient">List Patients</a>
            <a href="/updatedoctor">Upadate Doctor</a>
            <a href="/deletepatient">Delete Patient</a>
        </div>
    </div>

    <form action="/deletepatient" method="POST">
        
        <label for="patientNameId"><b>Full name</b></label>
        <input type="text" placeholder="Enter Name" name="pname" id="patientNameId" required>

        <button type="submit" class="registerbtn">Submit</button><br>
        
    </form>
   

</body>
</html>