<!DOCTYPE html>
<html>
    <head><link rel="stylesheet" href="styles.css"></head>
<body>  
    <style>
        a:link, a:visited {
          background-color: rgb(163, 75, 137);
          color: black;
          border: 2px solid rgb(228, 13, 13);
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }
        
        a:hover, a:active {
          background-color: rgb(228, 22, 32);
          color: rgb(155, 77, 125);
        }
        </style>
        <div class="header">
            <img src="monash.jpg" width="200" height="200" />
            <h1> Welcome to FIT2095 Clinic</h1>
            <p>Welcome to FIT2095 Week 6 lab</p>
        </div>
        
        <div class="content">
            <div>
                <a href="/">Home</a>
                <a href="/adddoctor">Add Doctor</a>
                <a href="/addpatient">Add Patient</a>
                <a href="/listdoctor">List Doctors</a>
                <a href="/listpatient">List Patients</a>
                <a href="/updatedoctor">Upadate Doctor</a>
                <a href="/deletepatient">Delete Patient</a>
            </div>
        </div>
    
        
</body>
</html>