<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    
    <style>
        a:link, a:visited {
          background-color: rgb(151, 74, 122);
          color: black;
          border: 2px solid rgb(231, 19, 19);
          padding: 10px 20px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
        }
        
        a:hover, a:active {
          background-color: rgb(241, 15, 27);
          color: rgb(155, 71, 123);
        }
        </style>
    
    <div class="header">
        <img src="monash.jpg" width="200" height="200" />
        <h1> Welcome to FIT2095 Week 6 lab</h1>
        <p>New doctor Form</p>
    </div>
    <div class="content">
        <div>
            <a href="/">Home</a>
            <a href="/adddoctor">Add Doctor</a>
            <a href="/addpatient">Add patient</a>
            <a href="/listdoctor">List Doctors</a>
            <a href="/listpatient">List Patients</a>
            <a href="/updatedoctor">Upadate Doctor</a>
            <a href="/deletepatient">Delete Patient</a>
        </div>
    </div>

    <form action="/adddoctor" method="POST">
        <div class="container">
            <h1>New Doctor Form <form></h1>
            <p>Please fill in this form to create a new Doctor.</p>
            <hr>
        
            
            <label for="doctorUnitAddressId"><b>Doctor's ID</b></label>
            <input type="text" placeholder="Enter Doctor's ID" name="dDoctor's ID" id="Doctor's ID" required><br>

            <label for="doctorNumPatientId"><b>Number of patients</b></label>
            <input type="text" placeholder="Enter Number of patients" name="dnNumPatient" id="doctorNumPatientId" required><br>
        
            
        
        
            <button type="submit" class="registerbtn">Submit</button><br>
        
            
          </div>
          
          
          </div>
    
    </form>
   

</body>
</html>